* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace
}

body {
    background-color: #533e31;
    color: white;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.form-area {
    width: 50%;
    padding: 50px;
}

.form-area h1 {
    margin-bottom: 10px;
    font-size: 28px;
}

.form-area p {
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 1.5;
}

form label {
    font-size: 14px;
    margin-top: 15px;
    display: block;
}

form input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: none;
    background: #ffffff;
    border-radius: 4px;
    color: white;
}

.row {
    display: flex;
    gap: 20px;
}

.col {
    flex: 1;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    background: #f7c443;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #e3af2c;
}

.image-area {
    width: 50%;
}

.image-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
